.container {
  width: 1024px;
  height: 100vh;
  margin: 0 auto;
  /* background-image: url('https://cdn.pixabay.com/photo/2018/08/17/15/29/call-3613071_1280.png'); */
  background-image: url('../../picture/background.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  font-family: 'Birthstone', cursive;
  letter-spacing: 1.5px;
  font-size: 60px;
  padding-top: 150px;
  font-weight: 400;
  color: #fff;
}
